<h2 class="titre-bleu">Rapport statistique</h2>

<p>Total objets : {{ data.length }}</p>
<p>Utilisation totale : {{ totalUsage }}</p>

<h3 class="titre-bleu">Objets les plus utilisés :</h3>
<ul>
  <li *ngFor="let obj of mostUsed">
    {{ obj.name }} ({{ obj.type }}) - usageCount: {{ obj.usageCount }}
  </li>
</ul>

<h3 class="titre-bleu">Détails complets :</h3>
<ul>
  <li *ngFor="let obj of data">
    {{ obj.name }} - {{ obj.type }} - {{ obj.location }}  
    | usageCount: {{ obj.usageCount }}  
    | lastInteraction: {{ obj.lastInteraction }}  
    | status: {{ obj.status }}
  </li>
</ul>

<h3 class="titre-bleu" *ngIf="inefficientObjects.length">Objets inefficaces ou inactifs</h3>
<ul *ngIf="inefficientObjects.length">
  <li *ngFor="let obj of inefficientObjects">
    {{ obj.name }} ({{ obj.type }}) - usageCount: {{ obj.usageCount }} - lastInteraction: {{ obj.lastInteraction }}
  </li>
</ul>


