<div class="login-page">
  <h2 class="mb-4 text-center">
    <i class="bi bi-box-arrow-in-right"></i> Connexion
  </h2>  
<div class="login-box">
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        id="email"
        class="form-control"
        [(ngModel)]="email"
        name="email"
        required
      />
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Mot de passe</label>
      <input
        type="password"
        id="password"
        class="form-control"
        [(ngModel)]="password"
        name="password"
        required
      />
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>

    <button type="submit" class="btn-login">Se connecter</button>
  </form>
</div>



