body {
    background-color: #fefcf7 !important; /* Super light cream */
}

.logo {
  height: 100px !important;
  width: auto !important;
  margin-left: 40px !important;
  border: 2px solid #003366 !important; /* bleu foncé */
}



    
  
  
  
  