.hero-section {
  position: relative;
  height: 80vh;
}

.card {
  padding: 20px;
  border-radius: 1rem;
  background-color: #fdfaf6 !important;
  color: #003366 !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.card-body {
  max-height: 500px;
  overflow-y: auto;
}

.container {
  padding-top: 30px;
}

.navbar {
  background-color: #003366 !important;
}

.navbar a, .navbar-brand {
  color: #fdfaf6 !important;
}

.navbar a:hover {
  text-decoration: underline;
}
